@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Space Mono", monospace;
  color: azure;
}



.font-primary {
  font-family: 'Merriweather', serif;
}

.font-Sec {
  font-family: 'Cormorant Garamond', serif;
}

.font-Logo {
  font-family: 'Dancing Script', cursive;
  font-style: italic;

}



.text-1xl {
  font-size: 18px;

}

.space-y {
  letter-spacing: 1.2px;
}


.bg-Back {
  background-image: url(./assets/images/myGalaxy.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;

}

.bg-Backs {
  background-image: url(./assets/images/galaxy.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  padding: 20px;

}


body,
html {
  overflow-x: hidden;
  /* overflow-y: scroll; */
}

@keyframes border-glow {
  0% {
    opacity: 0.2;
    transform: scale(1);
  }

  50% {
    opacity: 0.8;
    transform: scale(1.1);
  }

  100% {
    opacity: 0.2;
    transform: scale(1);
  }
}

.animate-border-glow {
  animation: border-glow 2s linear infinite;
}

@keyframes spin-border {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


@keyframes pulse-border {
  0% {
    border-width: 1px;
  }

  50% {
    border-width: 3px;
  }

  100% {
    border-width: 1px;
  }
}

.animate-pulse-border {
  animation: pulse-border 2s linear infinite;
}

@keyframes glowing-shadow {
  0% {
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
  }
  50% {
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.7);
  }
  100% {
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
  }
}

.animate-glowing-shadow {
  animation: glowing-shadow 2s linear infinite;
}

.shadow-glow {
  box-shadow: 0 0 20px rgba(0, 225, 255, 0.881);
}

