@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

.font-primary{
  font-family: 'Merriweather', serif;
}

.font-Sec{
  font-family: 'Cormorant Garamond', serif;
}

.font-Logo{
  font-family: 'Dancing Script', cursive;
   font-style: italic;
  
}



.text-1xl{
  font-size: 18px;
  
}

.space-y{
  letter-spacing: 1.2px;
}


.bg-Back{
   background-image: url(./assets/images/Background1.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;


}
.bg-Backs{
   background-image: url(./assets/images/Background2.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   min-height: 100vh;
   padding: 20px;

}


body,html{
   overflow-x: hidden;
  
}